<div class="row">
  <div class="col-6">
    <label for="workDuration">Work Duration</label>
    <select class="time-dropdown" [(ngModel)]="workDuration">
        <option *ngFor="let time of timeValues" [ngValue]="time">{{time / 60}}:00</option>
    </select>
  </div>
  <div class = "col-6">
    <label for="breakDuration">Break Duration</label>
      <select class="time-dropdown" [(ngModel)]="breakDuration">
          <option *ngFor="let time of timeValues" [ngValue]="time">{{time / 60}}:00</option>
      </select>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <label for="longBreakDuration">Long Break Duration</label>
    <select class="time-dropdown" [(ngModel)]="longBreakDuration">
        <option *ngFor="let time of timeValues" [ngValue]="time">{{time / 60}}:00</option>
    </select>
  </div>
  <div class = "col-6">
    <label for="breakDuration">Work Sessions Before Long Break</label>
    <input type="number" class="form-control" id="sessionsUntilLongBreak"
      [(ngModel)]="sessionsUntilLongBreak" name="sessions-until-long-break" #sessionsUntilLongBreakInput>
  </div>
</div>
<div class="notification-type-container">
  <div>
    <input type="checkbox" name="sound" [(ngModel)]="soundNotifications">
    <label>Sound Notifications</label>
  </div>
  <div>
    <input type="checkbox" name="float" [(ngModel)]="floatNotifications">
    <label>Float Notifications</label>
  </div>
</div>
<div>
  <label>Notification Volume:</label>
  <mat-slider min="0" max="100" step="1" name="volume" [(ngModel)]="volume"></mat-slider>
</div>
<button type="submit" class="btn btn-success" 
  on-click='saveSettings()'>Save</button>
