
<div class = "col" id="main">
  <div class="circleBase type3">
    <div class="row">
      <div *ngIf='isSessionActive()'>{{getSessionDuration() - getTimeElapsed()}}</div>
      <div *ngIf='isSessionActive()'>{{sessionType === 0 ? "Work" : "Break"}}</div>
    </div>
  </div>
  <hr>
  <div class="row">
    <button type="button" class="btn btn-success" on-click='onStart()' [disabled]='isSessionActive()'>Start</button>
    <button class="btn btn-danger" on-click='onStop()' [disabled]='!isSessionActive()'>Stop</button>
    <button class="btn btn-warning" on-click='onPause()'>Pause</button>
  </div>

  <div *ngIf="!isSessionActive()"class='row'>
    <!--Add gear to toggle settings-->
    <app-set-duration (breakDurationChange)='setBreakDuration($event)' (workDurationChange)='setWorkDuration($event)'></app-set-duration>
  </div>
</div>
