
<div class = "col" id="main">
  <app-circle-countdown #circleCountdown [timeElapsed]="timeElapsed" 
    [duration]="getSessionDuration()"></app-circle-countdown>
  <div *ngIf='isSessionActive()'>{{timeElapsed}}</div>
  <div *ngIf='isSessionActive()'>{{sessionType === 0 ? "Work" : "Break"}}</div>
  <hr>
  <div class="row">
    <button type="button" class="btn btn-success" on-click='onStart()' [disabled]='isSessionActive()'>Start</button>
    <button class="btn btn-danger" on-click='onStop()' [disabled]='!isSessionActive()'>Stop</button>
    <button class="btn btn-warning" on-click='onPause()'>Pause</button>
  </div>
  <div *ngIf="!isSessionActive()"class='row'>
    <app-set-duration (breakDurationChange)='setBreakDuration($event)' (workDurationChange)='setWorkDuration($event)'></app-set-duration>
  </div>
</div>
